@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&family=Orelega+One&family=Ultra&display=swap');

@font-face {
    font-family: "Montserrat_Arabic_Regular";
    src: url("Montserrat-Arabic\ Regular\ 400.otf") format("opentype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

body.popup-active {
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
}


/*-------------------------------- NavBar --------------------------------*/
#login_div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 1% 1% 6.5%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "Montserrat", sans-serif;
}

.logo{
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    transition: width 0.5s ease;
}

.my_navbar{
    display: flex;
    align-items: center;
}

.my_navbar a{
    position: relative;
    font-size: 120%;
    color: black;
    margin-left: 4em; 
    text-decoration: none;
    font-weight: 550;
}

.my_navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 10%;
    background: #00BF63;
    transition: .3s;
}

.icon_contatti{
    display: none; 
}

.my_navbar a:nth-child(1):hover::before {
    width: 100%;
}

.my_navbar a:nth-child(1) .sign:hover::before {
    width: 0;
}

.my_navbar a:nth-child(2):hover::before {
    width: 100%;
}

.my_navbar a:nth-child(2) .sign:hover::before {
    width: 0;
}

.my_navbar a:nth-child(3):hover::before {
    width: 100%;
}

.my_navbar a:nth-child(3) .sign:hover::before {
    width: 0;
}


@media screen and (max-width: 900px){
    html, body {
        overflow-x: hidden;
        transition: all 0.5s ease;
    }
    
    .header{
        padding: 1% 6% 1% 6.5%;;
    }
    .my_navbar a:nth-child(2) {
        display: none; 
    }
    .my_navbar a:nth-child(1) {
        display: none; 
    }
    .logo{
        width: 160px;
        height: auto;
    }
    .Btn{
        width: 30px;
        height: 30px;    
    }
    .icon_contatti {
        display: inline-block; 
    }
    .icon_contatti img{
        width: 30px;
        height: 30px; 
    }
    .my_navbar a{
        margin-left: 1em;
    }
}

/*-------------------------------- botton_user --------------------------------*/
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #00BF63;
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 30px;
}

.sign svg path {
    fill: white;
}

.sign img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.text_btn {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 22px;
    font-weight: 600;
    transition-duration: .3s;
}

.Btn:hover {
    width: 150px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
}

.Btn:hover .text_btn {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.Btn:active {
    transform: translate(2px ,2px);
}

/*-------------------------------- pop-up login --------------------------------*/
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background-color: rgba(255, 253, 253, 0.733);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease,height .2s ease;
    z-index: 150;
}

.wrapper.active-popup{
    display: inline-flex;
    overflow: hidden;
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translate(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}


.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translate(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #048948c5;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

.btn{
    width: 100%;
    height: 45px;
    background: #048948c5 !important;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px !important;
    font-weight: 600 !important;
    color: white !important;
}

.btn:hover{
    background-color: #109052 !important;
}

.login-register{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 120; 
    display: none; 
}

.popup-active .overlay {
    display: block; 
}


@media screen and (max-width: 1200px) {
    .wrapper {
        width: 40% !important;
        height: 45% !important;
        max-width: 400px;
        margin-top: 20%;
        top: 25%;
        padding: 0 2%;
    }

    .wrapper .form-box {
        padding: 20px;
    }

    .form-box h2 {
        font-size: 30px;
    }

    .input-box {
        margin: 20px 0;
    }

    .input-box label {
        font-size: 15px;
    }

    .input-box input {
        font-size: 15px;
    }

    .login-register {
        margin: 30px 0 5px 0;
        font-size: 13px;
    }

    .login-register p a {
        font-size: 13px;
    }
}

@media screen and (max-width: 1200px) and (max-height: 800px){
    .wrapper{
        padding: 16% 0 !important;
    }
}

@media screen and (max-width: 900px) and (max-height: 700px){
    .wrapper{
        padding: 20% 0 !important;
    }
}

@media screen and (max-width: 700px) and (max-height: 700px){
    .wrapper{
        padding: 24% 0 !important;
    }
}

/*-------------------------------- Slogan e background --------------------------------*/
.text_slogan {
    position: absolute;
    top: 50%; 
    left: 58%; 
    transform: translate(-130%, -50%); 
    color: black; 
    font-size: 80px; 
    font-weight: bold; 
    font-family: "Dm Serif Display", serif;
    line-height: 1.1;
    transition: font-size 0.5s ease;
}


.container_slogan{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center ;
    justify-content: center;
    padding-top: 8%;
    position: relative;
}

.background{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 3em;
    padding: 1em;
}

.showing{
    opacity: 1;
}

.lineUp {
    animation: 3s anim-lineUp ease-in-out ;
}
@keyframes anim-lineUp {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px){
    .text_slogan{
        font-size: 60px;
    }

    .background{
        width: 100%;
        height: auto;
        padding: 1% 1em 1% 1em;
    }

    .container_slogan{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1100px){
    .text_slogan{
        font-size: 55px;
    }
}

@media screen and (max-width: 1000px){
    .text_slogan{
        font-size: 50px;
    }
}

@media screen and (max-width: 900px){
    .text_slogan{
        font-size: 45px;
    }
}

@media screen and (max-width: 800px){
    .text_slogan{
        font-size: 40px;
    }
}

@media screen and (max-width: 700px){
    .text_slogan{
        font-size: 35px;
    }
}

@media screen and (max-width: 600px){
    .text_slogan{
        font-size: 30px;
    }
}

@media screen and (max-width: 520px){
    .text_slogan{
        font-size: 25px;
    }
}

@media screen and (max-width: 430px){
    .text_slogan{
        font-size: 20px;
    }
}


/*-------------------------------- Bottone Riempi il carrello --------------------------------*/
.button_shopping {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-115%, -50%);
    padding: 1% 4.5%;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #00BF63;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 35px;
    transition: all 0.5s ease;
    font-weight: bold;
}

.button_shopping:hover {
    letter-spacing: 3px;
    padding: 1% 4%;
    background-color: #06e679;
    color: black;
    box-shadow: #00BF63 0px 7px 29px 0px;
}

.button_shopping:active {
    letter-spacing: 3px;
    background-color: #00BF63;
    color: black;
    box-shadow: #00BF63 0px 0px 0px 0px;
    transition: 50ms;
}

@media screen and (max-width: 1200px){
    .text_slogan_container {
        position: relative;
        width: 100%;
        height: auto;
    }

    .button_shopping {
        position: relative;
        font-size: 25px;
        padding: 2% 6%; 
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20em; 
    }
}

@media screen and (max-width: 1100px){
    .button_shopping {
        margin-top: 19em; 
    }
}

@media screen and (max-width: 1000px){
    .button_shopping {
        margin-top: 18em; 
    }
}

@media screen and (max-width: 900px){
    .button_shopping {
        margin-top: 15em; 
    }
}

@media screen and (max-width: 880px){
    .button_shopping {
        margin-top: 15em; 
    }
}

@media screen and (max-width: 780px){
    .button_shopping {
        margin-top: 14em; 
    }
}

@media screen and (max-width: 720px){
    .button_shopping {
        margin-top: 13em; 
    }
}

@media screen and (max-width: 675px) {
    .button_shopping {
        margin-top: 12em; 
    }
}


@media screen and (max-width: 600px) {
    .button_shopping {
        margin-top: 11em; 
    }
}

@media screen and (max-width: 500px) {
    .button_shopping {
        margin-top: 10em; 
    }
}

/*----------------------------- pulsanti provvissori admin -------------------*/
.admin-buttons {
    display: flex; 
    flex-direction: row; /* Disposizione orizzontale */
    position: absolute; 
    top: 90%; 
    left: 35%; 
    transform: translate(-50%, -50%); 
    z-index: 90; /* Posiziona i pulsanti davanti ad altri elementi */
    
    
}

.button_admin {
    background-color: #00BF63; /* Colore di sfondo */
    color: white; 
    border: none; /* Rimuovi il bordo */
    padding: 20px 40px; 
    margin: 0 10px; 
    font-size: 18px; 
    cursor: pointer; 
    border-radius: 10px; /* Aggiungi angoli arrotondati ai pulsanti */
}

.button_admin:hover {
    background-color: #06e679;
    color: black;
    box-shadow: #00BF63;
}





/*-------------------------------- Obiettivi --------------------------------*/
.obiettivi_container{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 8% 5% 5% 5%;
    transition: flex-direction 0.5s, flex-wrap 0.5s ease;
}

.obiettivi{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.obiettivi1 {
    background-image: url(./Immagini/money2.png); 
    background-repeat: no-repeat;
    background-position: center;
}
.obiettivi2 {
    background-image: url(./Immagini/apple2.png); 
    background-repeat: no-repeat;
    background-position: center;
}
.obiettivi3 {
    background-image: url(./Immagini/pin.png);
    background-repeat: no-repeat;
    background-position: center;
}

.text_obiettivi_sansserif{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 10% 0 5% 0;
}

.text_obiettivi_serif{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 550;
}

@media screen and (max-width: 600px) {
    .obiettivi_container {
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        margin: 10% 0 10% 0;
    }

    .text_obiettivi_sansserif{
        margin: 5% 0 5% 0;
    }

    .text_obiettivi_serif{
        margin-bottom: 20%;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .obiettivi_container {
        flex-wrap: wrap; 
    }
    
    .text_obiettivi_sansserif,
    .text_obiettivi_serif {
        width: 100%; 
        text-align: center; 
        margin-bottom: 20px; 
    }
}



/*-------------------------------- Spiegazioni --------------------------------*/
.spiegazioni{
    background-color: #f8f6f4;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    transition: flex-wrap 0.5s ease;
}

.spiegazioni_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 5%;
    transition: flex-direction 0.5s ease;
}
  
.image-container_sopra,
.image-container_sotto{
    width: 400px; 
    height: 400px; 
    border-radius: 50%; 
    background-color: white; 
    overflow: hidden; 
    position: relative;
    margin-right: 10%; 
    margin-left: 10%;  
    transition: width 0.5s, height 0.5s, margin 0.5s ease;
}

.image-container_sopra{
    margin: 2% 10% 0 5%;
    transition: order 0.5s ease;
}

.image-container_sotto{
    margin: 0 5% 2% 10%;
}
  
.text-container{
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease;
}

.image-container_sopra img,
.image-container_sotto img{
    width: 100%; 
    height: auto; 
    border-radius: 50%; 
    object-fit: cover; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.text-container h1 {
    margin-top: 0;
    font-weight: bold;
    transition: font-size 0.5s ease;
}

.text_spiegazioni_serif{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 520;
    transition: font-size 0.5s ease;
}

@media screen and (max-width: 600px) {
    .spiegazioni_container {
        flex-direction: column;
    }

    .spiegazioni_container:first-child{
        margin-top: 10%;
    }

    .image-container_sopra,
    .image-container_sotto{
        width: 200px;
        height: 200px;
        margin: 10% 0;
    }

    .text-container {
        width: 100%; 
        margin: 2% 5%; 
    }

    .text-container h1{
        font-size: 22px;
    }

    .text_spiegazioni_serif{
        font-size: 16px;
        font-weight: 500;
    }

    .image-container_sopra{
        order: 2;
    }
}

@media screen and (min-width: 550px) and (max-width: 600px){
    .image-container_sopra,
    .image-container_sotto{
        width: 250px;
        height: 250px;
        margin: 10% 0;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px){
    .spiegazioni_container {
        flex-direction: column;
    }

    .image-container_sopra{
        order: 2;
    }

    .spiegazioni_container:first-child{
        margin-top: 10%;
    }

    .image-container_sopra,
    .image-container_sotto{
        width: 300px;
        height: 300px;
        margin: 10% 0;
    }

    .text-container h1{
        font-size: 25px;
    }

    .text_spiegazioni_serif{
        font-size: 18px;
        font-weight: 500;
    }

}


/*-------------------------------- SuperMercati --------------------------------*/
.text_supermercati{
    font-family: "Montserrat_Arabic_Regular", serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-top: 5%;
    transition: font-size 0.5s ease;
}

.griglia {
    display: flex;
    justify-content: space-between;
    margin: 4% 10%;
    transition: margin 0.5s ease;
}

.colonna {
    flex: 1;
    margin-right: 10px; 
    margin-left: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.colonna img {
    max-width: 100%; 
    max-height: 200px;
    height: auto; 
    width: auto;
    transition: width 0.5s ease;
}

@media screen and (max-width: 600px){
    .text_supermercati {
        font-size: 30px;
    }
    .griglia {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 8% 5%;
    }

    .colonna {
        flex-basis: calc(33.33% - 10px); 
        margin: 5px; 
    }

    .colonna img{
        width: 75%;
        height: auto;
    }

}


/*-------------------------------- Prodotti --------------------------------*/
.text_prodotti{
    font-family: "Montserrat_Arabic_Regular", serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    transition: font-size 0.5s ease;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    padding-top: 4%;
    padding-bottom: 5%;
    white-space: nowrap;
    position: relative;
    align-items: center;
}

.logos_slide{
    display: inline-block; 
    animation: 30s slide infinite linear;
}

.logos_slide img{
    height: 50px;
    margin: 0 40px;
    transition: height 0.5s, margin 0.5s ease;
}

.logos:before,
.logos:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before{
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    left: 0;
}

.logos:after{
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    right: 0;
}


@media screen and (max-width: 600px) {
    .text_prodotti {
        font-size: 30px;
    }
    .logos{
        padding-bottom: 10%;
    }
    .logos_slide img {
        height: 30px;
        margin: 0 20px;
    }
    .logos:before,
    .logos:after {
        width: 50px;
    }
}


/*-------------------------------- BackToTop --------------------------------*/
.back_to_top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #00BF63;
    border-radius: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
    z-index: 1000;
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.5s ease 2s; 
}

.back_to_top.show {
    opacity: 1; 
    pointer-events: auto; 
    display: inline-flex; 
    transition-delay: 3s;
}

.back_to_top span{
    color: white;
    font-size: 2rem;
    transition: 0.2s ease-out;
}

.back_to_top:hover{
    background-color: #0da75c;
}
.back_to_top:hover span{
    transform: translateY(-4px);
}

@media screen and (max-width: 800px){
    .back_to_top{
        width: 8%;
        height: 7%;
    }

    .back_to_top img{
        width: 100%;
        height: auto;
    }
}

/*--------------------------------Recensioni---------------*/
.recensioni-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#recensioni-list {
    max-height: 300px; /* Altezza massima per il contenitore */
    overflow-y: auto;  /* Abilita lo scorrimento verticale */
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#form-recensione textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

#form-recensione button {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#form-recensione button:nth-of-type(2){
    display: inline-block;
    background-color: #dc3545; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0%; 
}



/*-------------------------------- Footer --------------------------------*/
.footer_container{
    background-color: #f8f6f4;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}

.social_container{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-color: #f8f6f4;
    padding-top: 3%;
    padding-bottom: 2%;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}



.modifica_social{
    display: none;
    border:none;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#adacaa;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 70px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}




.wrapper_social{
    display: inline-flex;
}

.wrapper_social a {
    color: inherit; 
    text-decoration: none; 
}

.wrapper_social a:hover {
    color: inherit; 
}

.wrapper_social .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_social .icon span{
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 50;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55), width 0.5s ease, height 0.5s ease;
}

.wrapper_social .icon span i{
    line-height: 60px;
    font-size: 25px;
    transition: font-size 0.5s ease;
}

.wrapper_social .icon:hover span{
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.wrapper_social .facebook:hover span{
    background: #3B5999;
}

.wrapper_social .linkedin:hover span{
    background: #0a66c2;
}

.wrapper_social .instagram:hover span{
    background: #e1306c;
}

.wrapper_social .github:hover span{
    background: #333;
}

.wrapper_social .youtube:hover span{
    background: #DE463B;
}

.contatti {
    display: flex; 
    justify-content: center; 
    background-color: #f8f6f4;
    margin-top: 1%;
}

.contatto {
    display: flex;
    margin: 0 30px; 
    text-align: center; 
    align-items: center;
    font-size: 20px;
    transition: font-size 0.5s ease;
}

.contatto p{
    transition: font-size 0.5s ease;
}

.contatto p img{
    width: 25px;
    height: 25px;
    margin-right: 15px;  
    transition: width 0.5s, height 0.5s, margin-right 0.5s ease;  
}

.contatto a{
    color: black; 
    text-decoration: none; 
}

.contatto a:hover {
    text-decoration: underline; 
}

h3{
    font-size: 10px;
}

@media screen and (max-width: 670px){
    .footer_container {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .contatti {
        flex-direction: column; 
        align-items: center; 
        padding-top: 3%;
    }
    .contatto {
        margin: 0.5% 0; 
    }
    .contatto p img {
        width: 20px; 
        height: 20px;
        margin-right: 10px; 
    }
    .contatto p {
        font-size: 18px; 
    }

    .wrapper_social {
        display: flex; 
        justify-content: center; 
    }
    .wrapper_social .icon{
        margin: 0 8%;
    }
    .wrapper_social .icon span {
        width: 50px !important; 
        height: 50px !important; 
        display: flex; 
        align-items: center; 
        justify-content: center;
    }
    .wrapper_social .icon span i {
        font-size: 20px !important; 
    }
}

@media screen and (max-width: 600px){
    .contatto p {
        font-size: 16px; 
    }

    .wrapper_social .icon span {
        width: 45px !important; 
        height: 45px !important; 

    }

}

@media screen and (max-width: 450px){
    .wrapper_social .icon span{
        width: 40px !important; 
        height: 40px !important;
    }
}

/*--------------Pop-up Prefrenze---------------------*/
.popup-overlay {
    display: none; /* Nasconde il pop-up di default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 40px; /* Diminuito per adattarsi meglio al contenuto */
    width: 50%; /* Aumenta la larghezza del pop-up */
    max-width: 600px; /* Limita la larghezza massima */
    border-radius: 5px;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra per maggiore profondità */
}

.popup-content p {
    font-size: 18px; /* Dimensione del testo maggiore */
    margin: 0;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #555; /* Bordo grigio scuro */
    border-radius: 50%; /* Rende il bordo circolare */
    background-color: #fff; /* Sfondo bianco */
    color: #555; /* Colore del testo (X) */
}

.popup-close:hover {
    background-color: #555; /* Cambia il colore di sfondo al grigio scuro */
    color: #fff; /* Cambia il colore del testo a bianco */
}

#popup-overlay:target {
    display: flex; /* Mostra il pop-up quando viene targettato */
}

#open-popup {
    cursor: pointer;
}

/*-------------Popup-Elimina-Admin-------------*/
/* Stile del modale */
.modal {
    display: none; /* Nascondi il modale per impostazione predefinita */
    position: fixed;
    z-index: 1; /* Posiziona il modale sopra gli altri contenuti */
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Sfondo semi-trasparente */
    padding: 8% 20%;
}

/* Contenuto del modale */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Larghezza del modale */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra per dare un po' di profondità */
    border-radius: 10px; /* Angoli arrotondati */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border: none;
}

.modal-header h2 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    border: none; /* Rimuove qualsiasi bordo */
    box-shadow: none; /* Rimuove qualsiasi ombra */
}

.modal-header .close {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
    border-bottom: none;
}

.modal-body {
    display: flex;
    flex-direction: column;
    border-top: none;
}

/* Pulsante di chiusura
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */

/* Stile dell'input e del pulsante */
#emailInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#submitEmail {
    width: 100%;
    padding: 14px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    cursor: pointer;
}

#submitEmail:hover {
    background-color: #45a049; /* Verde più scuro */
}

/*-------------Popup-Modifica-Recensione-------------*/
/* Stile del modale */
.modal2 {
    display: none; /* Nascondi il modale per impostazione predefinita */
    position: fixed;
    z-index: 1; /* Posiziona il modale sopra gli altri contenuti */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Sfondo semi-trasparente */
}

/* Contenuto del modale */
.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Larghezza del modale */
}

/* Pulsante di chiusura */
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Stile dell'input e del pulsante */
#textInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#submittext {
    width: 100%;
    padding: 14px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    cursor: pointer;
}

#submittext:hover {
    background-color: #45a049; /* Verde più scuro */
}




