@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&family=Orelega+One&family=Ultra&display=swap');

@font-face {
    font-family: "Montserrat_Arabic_Regular";
    src: url("Montserrat-Arabic\ Regular\ 400.otf") format("opentype");
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

body{
    min-height: 100vh;
    background-image: url('Icone/ruvido-beige-in-legno-strutturato.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbar_div{
    height: 20%;
    margin:auto;
    text-align:center;
}


#login_div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_div {
    height:25%;
    width: 70%;
    margin:20px;
    display:flex;
    justify-content: left;
}

.prodotti_div{
    margin:20px;
    border-radius: 10px;
    position: absolute;
    top: 32%;
    width: 70%;
    height: 68%;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f8f6f4;
}

.ricette_div{
    top:40%;
    width: 100%;
}



/* NavBar*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-family: "Montserrat", sans-serif;
}

.logo{
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 80px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #00BF63;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

/*bottone user*/
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 13px; /* Regola la distanza dal top della pagina */
    right: 10px; /* Regola la distanza dal lato destro della pagina */
    z-index: 1000;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #00BF63;
    margin-left: 40px;
}

    /* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 30px;
}

.sign svg path {
    fill: white;
}
/* text */
.text_btn {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
    width: 150px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
}
/* hover effect button's text */
.Btn:hover .text_btn {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}
/* button click effect*/
.Btn:active {
    transform: translate(2px ,2px);
}


/*catalogo dei filtri*/

.filter-wrapper {
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 10%;
    gap: 1.2rem;
}


.filter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* height: 82px;
    width: 82px; */
    height: 85%;
    width: 10%;
    background-color: white;
    color: black;
    /*border-radius: 8px;*/
    border-radius: 50%;
    border: 1px solid #d9f2ee;
    font-size: 14px;
    cursor: pointer;
    transition: transform .2s;
}


.filter-card:hover{
    transform: translateY(14%);
}


.tooltip-top:before {
    content: "All";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }
  .tooltip-top2:before {
    content: "Pasta";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top2:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }
  .tooltip-top3:before {
    content: "Carne";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top3:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }
  .tooltip-top4:before {
    content: "Frutta";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top4:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }
  .tooltip-top5:before {
    content: "Pesce";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top5:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top6:before {
    content: "Bevande";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top6:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top7:before {
    content: "Igiene";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top7:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top8:before {
    content: "Verdura";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top8:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top9:before {
    content: "Snack";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top9:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top10:before {
    content: "Dolci";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top10:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top11:before {
    content: "Surgelati";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top11:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top12:before {
    content: "Dispensa";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top12:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  } 

  .filter-card:hover:before {
    display: block;
  }
  .filter-card:hover:after {
    display: block;
  }




/* pop-up login*/
.wrapper{
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease,height .2s ease;
    z-index: 99;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 520px;

}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translate(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}


.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translate(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:#162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

/* Barra di ricerca*/

.search {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 18%;
}

.search input[type="text"] {
    width: 600px; /* Larghezza desiderata */
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    background-color: #f8f6f4;
}

.search button[type="submit"] {
    background-color:  #00BF63;
    height: 50px;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .5s ease;
}

.search button[type="submit"]:hover {
    height: 50px;
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: #06e679 ;
}

#search-icon{
    font-size: 20px;
}

/* card dei prodotti*/
.card {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 1%;
    margin: 1.5% 1.5%;
   /* width: 275px;
    height: 275px;*/
    width: 22%;
    height: 55%;
    float: left;
    background-color: white;
    text-align: center;
}

.card_image{
    border: 1px solid #ccc;
    margin: 0.2%;
    width: 99%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}


.card img {
    max-width: 100%;
    max-height: 100% ;
}


h3{
    margin-bottom: 3%;
    font-size: 15px;
}

.bottoni_tondi{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #00BF63;
    transition: transform .2s;
    border: none;
}

.bottoni_tondi:hover{
    transform: scale(1.1);
}

.bottoni_tondi2{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #eb1906;
    transition: transform .2s;
    border: none;
}

.bottoni_tondi2:hover{
    transform: scale(1.1);
}

.bottone_carrello{
    border-radius: 10px;
    width: 40%;
    height: 30px;
    background-color:  #00BF63;
    transition: transform .2s;
    border: none;
    font-weight: 600;
}

.bottone_carrello:hover{
    transform: scale(1.1);
}

/* CARRELLO */
.carrello_div{
    margin:20px;
    background-color: #f8f6f4;
    border-radius: 10px;
    position: absolute;
    top: 8%;
    width: 25%;
    left: 72%;
    height: 92%;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}

.carrello_titolo{
    text-align: center;
    width: 100%;
    height: 5%;
    margin-top: 4%;
}
.carrello_spesa{
    overflow-y: scroll;
    height: 83%;
    width: 100%;
}
.carrello_checkout{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    float: left;
}

.bottone_checkout{
    border-radius: 10px;
    width: 50%;
    height: 40%;
    background-color:  #00BF63;
    transition: transform .2s;
    border: none;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.bottone_checkout:hover{
    transform: scale(1.1);
}

.carrello_elemento{
    height: 8%;
    width: 96%;
    margin: 2%;
    border-radius: 10px;
    background-color: white;
}

.carrello_nome{
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carrello_quantità{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quantity {
    padding: 2%;
    margin: 2%;
    height: 10%;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
 }

 .bottone_cestino{
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    left: 20%;
    background-color: #eb1906; 
 }


 .bottoni_tondi3{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: transform .2s;
    border: none;
    margin-left: 40%;
    background-image: url(Icone/icons8-cestino-48.png);
    background-size: cover;
    background-color: #f8f6f4;
}

.bottoni_tondi3:hover{
    transform: scale(1.1);
}

 