@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&family=Orelega+One&family=Ultra&display=swap');

@font-face {
    font-family: "Montserrat_Arabic_Regular";
    src: url("Montserrat-Arabic\ Regular\ 400.otf") format("opentype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

html, body{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    /* background-image: url('Icone/ruvido-beige-in-legno-strutturato.jpg'); */
    background-color: #8edfb7ae;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.popup-active {
    overflow: hidden;
}

.top_div {
    height:25%;
    width: 70%;
    margin:20px;
    display:flex;
    justify-content: left;
}

.prodotti_div{
    margin:20px;
    border-radius: 10px;
    position: absolute;
    top: 32%;
    width: 70%;
    height: 65%;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f8f6f4;
}


/*-------------------------------- Navbar --------------------------------*/
#login_div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 1% 1% 6.5%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "Montserrat", sans-serif;
}

.logo{
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.my_navbar{
    display: flex;
    align-items: center;
}

.my_navbar a{
    position: relative;
    font-size: 120%;
    color: black;
    margin-left: 4em; 
    text-decoration: none;
    font-weight: 550;
}

.my_navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 13%;
    background: #00BF63;
    transition: .3s;
}

.icon_contatti{
    display: none; /* Nasconde l'icona inizialmente */
}

.my_navbar a:nth-child(1):hover::before {
    width: 100%;
}

.my_navbar a:nth-child(1) .sign:hover::before {
    width: 0;
}

.my_navbar a:nth-child(2):hover::before {
    width: 100%;
}

.my_navbar a:nth-child(2) .sign:hover::before {
    width: 0;
}

@media screen and (max-width: 900px){
    html, body {
        overflow-x: hidden;
        transition: all 0.5s ease;
    }
    
    .header{
        padding: 1% 6% 1% 6.5%;;
    }
    .my_navbar a:nth-child(2) {
        display: none; 
    }
    .my_navbar a:nth-child(1) {
        display: none; 
    }
    .logo{
        width: 160px;
        height: auto;
    }
    .Btn{
        width: 30px;
        height: 30px;    
    }
    .icon_contatti {
        display: inline-block; 
    }
    .icon_contatti img{
        width: 30px;
        height: 30px; 
    }
    .my_navbar a{
        margin-left: 1em;
    }
}

/*-------------------------------- botton_user --------------------------------*/
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #00BF63;
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 30px;
}

.sign svg path {
    fill: white;
}

.sign img {
    width: 30px; /* Regola la dimensione dell'immagine */
    height: 30px; /* Regola la dimensione dell'immagine */
    border-radius: 50%; /* Assicura che l'immagine sia rotonda */
    object-fit: cover; /* Scalare e ritagliare l'immagine per adattarsi al contenitore */
}

/* text */
.text_btn {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 22px;
    font-weight: 600;
    transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
    width: 150px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
}
/* hover effect button's text */
.Btn:hover .text_btn {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}
/* button click effect*/
.Btn:active {
    transform: translate(2px ,2px);
}


/*-------------------------------- Filtri --------------------------------*/
.filter-wrapper {
    position: absolute;
    top: 20.5%;
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 10%;
    gap: 1.2rem;
}


.filter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* height: 82px;
    width: 82px; */
    height: 85%;
    width: 10%;
    background-color: white;
    color: black;
    /*border-radius: 8px;*/
    border-radius: 50%;
    border: 1px solid #d9f2ee;
    font-size: 14px;
    cursor: pointer;
    transition: transform .2s;
}


.filter-card:hover{
    transform: translateY(14%);
}


.tooltip-top:before {
    content: "All";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }
  .tooltip-top2:before {
    content: "Pantry";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top2:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }
  .tooltip-top3:before {
    content: "Meat";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top3:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }
  .tooltip-top4:before {
    content: "Cured Meat";
    font-weight: 600;
    position: absolute;
    width: 115%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top4:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }
  .tooltip-top5:before {
    content: "Fish";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top5:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top6:before {
    content: "Drinks";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top6:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top7:before {
    content: "Hygiene";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top7:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top8:before {
    content: "Vegetables";
    font-weight: 600;
    position: absolute;
    width: 110%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top8:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top9:before {
    content: "Snacks";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top9:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top10:before {
    content: "Sweets";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top10:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top11:before {
    content: "Frozen Foods";
    font-weight: 600;
    position: absolute;
    width: 135%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top11:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  }

  .tooltip-top12:before {
    content: "Healty";
    font-weight: 600;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #00BF63;
    transform: translateX(-50%);
    left: 50%;
    top: -4em;
    padding: 0.8em 1em;
    display: none;
    border-radius: 10px;
  }
  .tooltip-top12:after {
    content: "";
    position: absolute;
    border-top: 1.25em solid  #00BF63;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
  } 

  .filter-card:hover:before {
    display: block;
  }
  .filter-card:hover:after {
    display: block;
  }




/*-------------------------------- pop-up login --------------------------------*/
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background-color: rgba(255, 253, 253, 0.733);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease,height .2s ease;
    z-index: 150;
}

.wrapper.active-popup{
    display: inline-flex;
    overflow: hidden;
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translate(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}


.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translate(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    /* background: #162938; */
    background-color: #048948c5;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 32px;
    font-weight: 500;
    color: black;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    /* border-bottom: 2px solid #162938; */
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

.btn{
    width: 100%;
    height: 45px;
    background: #048948c5 !important;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px !important;
    font-weight: 600 !important;
    color: white !important;
}

.btn:hover{
    background-color: #109052 !important;
}

.login-register{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 120; 
    display: none; 
}

.popup-active .overlay {
    display: block; /* Mostra l'overlay quando il popup è attivo */
}


@media screen and (max-width: 1200px) {
    .wrapper {
        width: 80%;
        height: auto;
        max-width: 400px;
        margin-top: 20%;
    }

    .wrapper .form-box {
        padding: 20px;
    }

    .form-box h2 {
        font-size: 1.5em;
    }

    .input-box {
        margin: 20px 0;
    }

    .input-box label {
        font-size: 0.8em;
    }

    .input-box input {
        font-size: 0.8em;
    }

    .remember-forgot {
        margin: -10px 0 10px;
        font-size: 0.7em;
    }

    .login-register {
        margin: 15px 0 5px;
        font-size: 0.7em;
    }

    .login-register p a {
        font-size: 0.9em;
    }
}

/*-------------------------------- Search --------------------------------*/
.search {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 18%;
}

.search input[type="text"] {
    width: 600px; /* Larghezza desiderata */
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    background-color: #f8f6f4;
}

.search button[type="submit"] {
    background-color:  #00BF63;
    height: 50px;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .5s ease;
}

.search button[type="submit"]:hover {
    height: 50px;
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    /* background-color: #06e679 ; */
}

.search button[type="submit"]:active{
    background-color: #048948;
    transition: 50ms;
}

#search-icon{
    font-size: 20px;
}

/*-------------------------------- Card Prodotti --------------------------------*/
.card {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 1%;
    margin: 1.5% 1.5%;
   /* width: 275px;
    height: 275px;*/
    width: 22%;
    height: 55%;
    float: left;
    background-color: white;
    text-align: center;
}

.card_image{
    border: 1px solid #ccc;
    margin: 0.2%;
    width: 99%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}


.card img {
    max-width: 100%;
    max-height: 100% ;
}


h3{
    margin-bottom: 3%;
    font-size: 15px;
}

.bottoni_tondi{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #00BF63;
    transition: transform .2s;
    border: none;
}

.bottoni_tondi:hover{
    transform: scale(1.1);
}

.bottoni_tondi2{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #eb1906;
    transition: transform .2s;
    border: none;
}

.bottoni_tondi2:hover{
    transform: scale(1.1);
}

.bottone_carrello{
    border-radius: 10px;
    width: 40%;
    height: 30px;
    background-color:  #00BF63;
    transition: transform .5s;
    border: none;
    font-weight: 600;
}

.bottone_carrello:hover{
    transform: scale(1.1);
}

.bottone_carrello:active {
    background-color: #048948 !important;
    color: black;
    transition: 50ms;
}


/*-------------------------------- Carrello --------------------------------*/
.carrello_div{
    margin-left:29px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #f8f6f4;
    border-radius: 10px;
    position: absolute;
    top: 8%;
    width: 25%;
    left: 72%;
    height: 89%;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}

.carrello_titolo{
    text-align: center;
    width: 100%;
    height: 5%;
    margin-top: 4%;
}
.carrello_spesa{
    overflow-y: scroll;
    height: 83%;
    width: 100%;
}
.carrello_checkout{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    float: left;
}

.bottone_checkout{
    border-radius: 10px;
    width: 50%;
    height: 40%;
    background-color:  #00BF63;
    transition: transform .2s;
    border: none;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.bottone_checkout:hover{
    transform: scale(1.1);
}

.bottone_checkout:active{
    background-color: #048948;
    transition: 50ms;
}

.carrello_elemento{
    height: 8%;
    width: 96%;
    margin: 2%;
    border-radius: 10px;
    background-color: white;
}

.carrello_nome{
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carrello_quantità{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quantity {
    padding: 2%;
    margin: 2%;
    height: 10%;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
 }

 .bottone_cestino{
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    left: 20%;
    background-color: #eb1906; 
 }


 .bottoni_tondi3{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: transform .2s;
    border: none;
    margin-left: 40%;
    background-image: url(Icone/icons8-cestino-48.png);
    background-size: cover;
    background-color: #f8f6f4;
}

.bottoni_tondi3:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
    .carrello_div {
        display: none;
    }
}

/*-------------------------------- Ricette --------------------------------*/
h1{
    text-align: center;
}

.text{
    height:10%;
    width: 100%;
    margin-top: 2%;
}

.ricette_div{
    width: 100%;
    margin-top: 2%;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap; 
    align-items: center;
}


.ricetta_card{
    border-radius: 10px;
    margin: 1.5% 1.5%;
    width: 21.8%;
    height: 70%;
    background-color: white;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.ricetta_image{
    /* border: 1px solid #ccc;
    margin: 0.2%; */
    width: 99%;
    height: 70%;
    border-radius: 10px;
    margin-bottom: 3%;    
}

.ricetta_card img {
    max-width: 100%;
    max-height: 100% ;
}

.ricetta_description{
    width: 99%;
    height: 20%;
    padding: 2%;
    white-space: normal; 
}

.ricetta_form{
    padding: 1%;
    height:15% ;
    width: 99%;
}


h4{
    text-align: center;
    font-size: 1.3rem;
    margin: 2% 0 4% 0%;
}

.bottone_carrello2{
    border-radius: 10px;
    width: 40%;
    height: 30px;
    background-color:  #00BF63;
    transition: transform .5s;
    border: none;
    font-weight: 600;
    margin: 3%;
    font-size: 20px;
}

.bottone_carrello2:hover{
    transform: scale(1.1);
}

.bottone_carrello2:active {
    background-color: #048948 !important;
    color: black;
    transition: 50ms;
}

/*-------------------------------- Footer --------------------------------*/

.footer_container{
    background-color: #f8f6f4;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    padding-bottom: 1%;
}

.social_container{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-color: #f8f6f4;
    padding-top: 2%;
    padding-bottom: 1%;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}

.wrapper_social{
    display: inline-flex;
}

.wrapper_social a {
    color: inherit; /* eredita il colore del testo dai genitori */
    text-decoration: none; /* rimuove il sottolineato del link */
}

.wrapper_social a:hover {
    color: inherit; /* eredita il colore del testo al passaggio del mouse */
}

.wrapper_social .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_social .icon span{
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 50;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_social .icon span i{
    line-height: 60px;
    font-size: 25px;
}

.wrapper_social .icon:hover span{
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.wrapper_social .facebook:hover span{
    background: #3B5999;
}

.wrapper_social .linkedin:hover span{
    background: #0a66c2;
}

.wrapper_social .instagram:hover span{
    background: #e1306c;
}

.wrapper_social .github:hover span{
    background: #333;
}

.wrapper_social .youtube:hover span{
    background: #DE463B;
}

.contatti {
    display: flex; /* Usa il layout flexbox */
    justify-content: center; /* Centra gli elementi lungo l'asse principale */
    background-color: #f8f6f4;
    margin-top: 1%;
}

.contatto {
    display: flex;
    margin: 0 30px; /* Aggiungi spazio tra i contatti */
    text-align: center; 
    align-items: center;
    font-size: 20px;
}

.contatto p img{
    width: 25px;
    height: 25px;
    margin-right: 15px;    
    display: inline; 
    vertical-align: middle; 
}

.contatto a{
    color: black; 
    text-decoration: none; /* Rimuove la sottolineatura */
}

.contatto a:hover {
    text-decoration: underline; /* Aggiunge sottolineatura al passaggio del mouse */
}


@media screen and (max-width: 670px){
    .footer_container {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .contatti {
        flex-direction: column; /* Allinea i contatti verticalmente */
        align-items: center; /* Centra i contatti verticalmente */
        padding-top: 3%;
    }
    .contatto {
        margin: 0.5% 0; /* Riduci lo spazio tra i contatti */
    }
    .contatto p img {
        width: 20px; /* Riduci le dimensioni delle icone dei contatti */
        height: 20px;
        margin-right: 10px; /* Riduci lo spazio tra l'icona e il testo */
    }
    .contatto p {
        font-size: 18px; 
    }

    .wrapper_social {
        display: flex; 
        justify-content: center; 
    }
    .wrapper_social .icon{
        margin: 0 8%;
    }
    .wrapper_social .icon span {
        width: 50px !important; 
        height: 50px !important; 
        display: flex; 
        align-items: center; 
        justify-content: center;
    }
    .wrapper_social .icon span i {
        font-size: 20px !important; 
    }
}

@media screen and (max-width: 600px){
    .contatto p {
        font-size: 16px; 
    }

    .wrapper_social .icon span {
        width: 45px !important; 
        height: 45px !important; 

    }

}

@media screen and (max-width: 450px){
    .wrapper_social .icon span{
        width: 40px !important; 
        height: 40px !important;
    }
}
