@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* NavBar 
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "Montserrat", sans-serif;
}

.logo{
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100%;
    height:auto;
    display: flex;
    background-color: white;
}


.main {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    padding: 2%;
    background-color: white;
}


/*catalogo dei filtri*/
.main-menus {
    min-height: 100%;
    background-color: #f5f5f5;
    padding: 2%; 
    border-radius: 8px;
}

.main-filter {
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-top: 1.5rem;
    gap: 1rem;
}

.back-menus, .next-menus{
    cursor: pointer;
}

.back-menus:hover, .next-menus:hover{
    color: #0e6253 ;
}

.filter-wrapper { 
    display: flex; 
    justify-content: flex-start;
    overflow-x: hidden;
    width: 100%;
    height: 100px; 
    gap: 1.2rem;
}


.filter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 80px; 
    height: 100%;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 1px solid #d9f2ee;
    font-size: 14px; 
    cursor: pointer;
}

.filter-icon { 
    display: flex;
    justify-content: center; 
    align-items: center;
    width:70%;
    height:50%;
    font-size: 30px;
    background-color: #d9f2ee;
    color: #0e6253; 
    border-radius: 8px;
}

.filter-card:hover{
    background-color: #0e6253;
    color: white;
}
.filter-card:hover .filter-icon {
    background-color: white;
}

/*
.grid{
    display : grid ;
    grid-template : 
    'a a a a'
    'b b b c'
    'd d d c'
    'd d d c' /  25% 25% 25% 25%;
    border: solid 1px ;
    text-align :center;
}

.grid > div {
    border: solid 1px ;
    padding: 2em 1em ;
}

.s1 { 
    grid-area: a; 
}
.s2 { 
    grid-area: b; 
}
.s3 { 
    grid-area: c; 
}
.s4{
    grid-area: d;
}

    